.counter_heading {
    color: #609966;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}


.vechiles_option {
    text-align: center;
}


.vechile_button_1 {
    height: 20px;
    width: 100px;
    color: #609966;
    font-size: large;
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    border-right: 2px solid #609966;
}


.vechile_button_2 {
    height: 20px;
    width: 160px;
    color: #609966;
    font-size: large;
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}


.vechile_button_3 {
    height: 20px;
    width: 100px;
    color: #609966;
    font-size: large;
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    border-left: 2px solid #609966;
}


.passengers_form {
    text-align: center;
    color: #609966;
    margin-top: 3em;
    font-size: large;
    font-weight: bold;
}
.passengers_form input {
    width: 20%;
    height: 30px;
    border-radius: 40px;
    background: #609966;
    outline: none;
    border: none;
    text-align: center;
}


.distance_slider {
    margin-top: 3em;
    text-align: center;
}


.distance_info {
    color: #609966;
    font-weight: bold;
}


.emission_info {
    text-align: center;
    margin-top: 2em;
    color: #609966;
}
